<p id="notice"><%= notice %></p>


<p>
  Number of members:
  <%= @beer_club.members.count%>
</p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>


<ul class="list-group" id="members">
  <% @beer_club.members.each do |member| %>
    <li class="list-group-item"><%= link_to member.username, member %></li>
  <% end %>  
</ul>

<div id="club_button">

<% if current_user && @beer_club.members.exclude?(current_user)%>
  <%= bootstrap_form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value:"join the club" %>
  <% end %>
<% end %>

<% if current_user && @beer_club.members.include?(current_user)%>
  <%= bootstrap_form_for(@membership, method: "delete") do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "end the membership" %>
   <% end %>
<% end %>

</div>  


<%= edit_and_destroy_buttons(@beer_club) %>